In [1]:
# 1. Write a dictionary into a file such that the contents look like this:
#      Name:Katie
#      Age:29
#      Degree:Masters in AI
#      University:NYU
# 2. Find the maximum value in the following list: num = [11,43,540,555,998,999]
# 3. Print the list in reverse order: list1 = [11, 22, 33, 44, 55]
# 4. Write a Python code to find the factorial of a given number.
# 5. Find the sum of the series upto n terms. If n=4, then the series will be 2 + 22 + 222 + 2222 = 2468
# 6. Reverse the contents of the following tuple: tuple1 = (10, 20, 30, 40, 50)
# 7. Sort the following tuple of tuples by the 2nd item in each tuple: tuple2 = (('a', 123), ('b', 37), ('c', 45), ('d', 111))
# 8. Write a program to iterate both lists simultaneously and display items from list1 in reverse order and items 
#    from list2 as is.
#                         list1 = [1, 2, 3, 4]
#                         list2 = [10, 20, 30, 40]
# 9. Write a function that takes in a list and a val and removes all occurrences of val and returns the updated list.
# 10. Using map(), lambda and count(), create a list which consists of the number of occurence of letter 'a'.

#### 5.

In [2]:
my_func = lambda n: sum(int("".join(["2"]*i)) for i in range(1, n+1))

my_func(4)

2468

#### 6.

In [3]:
tuple1 = (10, 20, 30, 40, 50)

rev_tuple = lambda t: t[::-1]

rev_tuple(tuple1)

(50, 40, 30, 20, 10)

#### 7.

In [4]:
tuple2 = (('a', 123), ('b', 37), ('c', 45), ('d', 111))