In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics

pd.set_option('display.max_columns', 500)
np.set_printoptions(suppress=True)

In [3]:
df = pd.read_csv("July/3 Jul/Engineering_graduate_salary.csv")
df

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityID,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,B.Tech/B.E.,instrumentation and control engineering,73.82,6920,1,Delhi,2013,650,665,810,0.694479,485,366,-1,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,B.Tech/B.E.,computer science & engineering,65.00,6624,0,Uttar Pradesh,2014,440,435,210,0.342315,365,-1,-1,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,B.Tech/B.E.,electronics & telecommunications,61.94,9084,0,Maharashtra,2011,485,475,505,0.824666,-1,400,-1,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,B.Tech/B.E.,computer science & engineering,80.40,8195,1,Delhi,2013,675,620,635,0.990009,655,-1,-1,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,B.Tech/B.E.,biotechnology,64.30,4889,1,Tamil Nadu,2012,575,495,365,0.278457,315,-1,-1,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,103174,f,1989-04-17,75.00,0,2005,73.00,0,1263,2,B.Tech/B.E.,electronics and communication engineering,70.00,1263,1,Tamil Nadu,2010,505,485,445,0.538387,245,333,-1,-1,-1,-1,-1,-1.1901,0.9688,-1.0697,1.35490,0.0284,120000
2994,352811,f,1991-07-22,84.00,state board,2008,77.00,state board,9481,2,B.Tech/B.E.,information technology,75.20,9481,0,Tamil Nadu,2012,345,585,395,0.190153,315,-1,-1,-1,-1,-1,-1,-0.1082,0.0328,-0.4891,-0.29020,0.5024,120000
2995,287070,m,1988-11-24,91.40,bsemp,2006,65.56,bsemp,547,2,B.Tech/B.E.,information technology,73.19,547,0,Madhya Pradesh,2011,385,425,485,0.600057,435,-1,-1,-1,-1,-1,-1,-0.8810,0.1888,-0.3440,0.06230,0.6603,385000
2996,317336,m,1988-08-25,88.64,karnataka education board,2006,65.16,karnataka education board,1629,2,B.Tech/B.E.,computer engineering,74.81,1629,1,Karnataka,2011,465,645,505,0.901490,545,-1,-1,-1,-1,-1,-1,1.4374,1.2808,-0.4891,-1.46537,0.5419,530000
2997,993701,m,1992-05-27,77.00,state board,2009,75.50,state board,1111,2,B.Tech/B.E.,information technology,69.30,1111,0,Tamil Nadu,2013,370,390,285,0.486747,315,-1,376,-1,-1,-1,-1,-0.5899,-1.9521,0.3174,1.16010,-2.3937,200000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     2998 non-null   int64
 1   Gender                 2998 non-null   object
 2   DOB                    2998 non-null   object
 3   10percentage           2998 non-null   float64
 4   10board                2998 non-null   object
 5   12graduation           2998 non-null   int64
 6   12percentage           2998 non-null   float64
 7   12board                2998 non-null   object
 8   CollegeID              2998 non-null   int64
 9   CollegeTier            2998 non-null   int64
 10  Degree                 2998 non-null   object
 11  Specialization         2998 non-null   object
 12  collegeGPA             2998 non-null   float64
 13  CollegeCityID          2998 non-null   int64
 14  CollegeCityTier        2998 non-null   int64
 15  CollegeState           2998 non-null   object
 16  GraduationYear         2998 non-null   int64
 17  English                2998 non-null   int64
 18  Logical                2998 non-null   int64
 19  Quant                  2998 non-null   int64
 20  Domain                 2998 non-null   float64
 21  ComputerProgramming    2998 non-null   int64
 22  ElectronicsAndSemicon  2998 non-null   int64
 23  ComputerScience        2998 non-null   int64
 24  MechanicalEngg         2998 non-null   int64
 25  ElectricalEngg         2998 non-null   int64
 26  TelecomEngg            2998 non-null   int64
 27  CivilEngg              2998 non-null   int64
 28  conscientiousness      2998 non-null   float64
 29  agreeableness          2998 non-null   float64
 30  extraversion           2998 non-null   float64
 31  nueroticism            2998 non-null   float64
 32  openess_to_experience  2998 non-null   float64
 33  Salary                 2998 non-null   int64
dtypes: float64(9), int64(18), object(7)
memory usage: 796.5+ KB

In [29]:
df2 = df[["Gender", "10percentage", "CollegeTier", "collegeGPA", "ComputerScience", "conscientiousness", "agreeableness", "nueroticism", "English", "Logical", "Quant", "Salary"]]
df2

,Gender,10percentage,CollegeTier,collegeGPA,ComputerScience,conscientiousness,agreeableness,nueroticism,English,Logical,Quant,Salary
0,f,87.80,1,73.82,-1,-0.1590,0.3789,0.14590,650,665,810,445000
1,m,57.00,2,65.00,-1,1.1336,0.0459,0.52620,440,435,210,110000
2,m,77.33,2,61.94,-1,0.5100,-0.1232,-0.29020,485,475,505,255000
3,m,84.30,1,80.40,-1,-0.4463,0.2124,0.27270,675,620,635,420000
4,f,82.00,2,64.30,-1,-1.4992,-0.7473,0.06223,575,495,365,200000
...,...,...,...,...,...,...,...,...,...,...,...,...
2993,f,75.00,2,70.00,-1,-1.1901,0.9688,1.35490,505,485,445,120000
2994,f,84.00,2,75.20,-1,-0.1082,0.0328,-0.29020,345,585,395,120000
2995,m,91.40,2,73.19,-1,-0.8810,0.1888,0.06230,385,425,485,385000
2996,m,88.64,2,74.81,-1,1.4374,1.2808,-1.46537,465,645,505,530000
2997,m,77.00,2,69.30,376,-0.5899,-1.9521,1.16010,370,390,285,200000

In [30]:
df2["Gender"] = df2["Gender"].map({"m": 1, "f": 0})
df2["ComputerScience"] = df2["ComputerScience"].apply(lambda x: int(x>0))
df2

C:\Users\jinay.vora\AppData\Local\Temp\ipykernel_6780\3516218738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Gender"] = df2["Gender"].map({"m": 1, "f": 0})
C:\Users\jinay.vora\AppData\Local\Temp\ipykernel_6780\3516218738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["ComputerScience"] = df2["ComputerScience"].apply(lambda x: int(x>0))

,Gender,10percentage,CollegeTier,collegeGPA,ComputerScience,conscientiousness,agreeableness,nueroticism,English,Logical,Quant,Salary
0,0,87.80,1,73.82,0,-0.1590,0.3789,0.14590,650,665,810,445000
1,1,57.00,2,65.00,0,1.1336,0.0459,0.52620,440,435,210,110000
2,1,77.33,2,61.94,0,0.5100,-0.1232,-0.29020,485,475,505,255000
3,1,84.30,1,80.40,0,-0.4463,0.2124,0.27270,675,620,635,420000
4,0,82.00,2,64.30,0,-1.4992,-0.7473,0.06223,575,495,365,200000
...,...,...,...,...,...,...,...,...,...,...,...,...
2993,0,75.00,2,70.00,0,-1.1901,0.9688,1.35490,505,485,445,120000
2994,0,84.00,2,75.20,0,-0.1082,0.0328,-0.29020,345,585,395,120000
2995,1,91.40,2,73.19,0,-0.8810,0.1888,0.06230,385,425,485,385000
2996,1,88.64,2,74.81,0,1.4374,1.2808,-1.46537,465,645,505,530000
2997,1,77.00,2,69.30,1,-0.5899,-1.9521,1.16010,370,390,285,200000

In [31]:
trainX, testX, trainY, testY = train_test_split(df2.iloc[:, :-1], df2.iloc[:, -1], train_size=0.75, test_size=0.25, random_state=69)
regr = LinearRegression()

regr.fit(X=trainX, y=trainY)

regr.coef_, regr.intercept_

(array([  33141.02230424,    1893.07344886, -104525.33360933,
           1583.44508255,  -59558.10317996,  -23342.55003512,
          16257.10646982,   -9446.9677184 ,     156.00178003,
            103.97517107,     169.0861786 ]),
 13858.17369500961)

In [32]:
import statsmodels.api as sm

# trainX = sm.add_constant(trainX)
# testX = sm.add_constant(testX)

model1 = sm.OLS(trainY,trainX)
results1 = model1.fit()
print(results1.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 Salary   R-squared (uncentered):                   0.721
Model:                            OLS   Adj. R-squared (uncentered):              0.720
Method:                 Least Squares   F-statistic:                              526.0
Date:                Fri, 07 Jul 2023   Prob (F-statistic):                        0.00
Time:                        10:15:16   Log-Likelihood:                         -30591.
No. Observations:                2248   AIC:                                  6.120e+04
Df Residuals:                    2237   BIC:                                  6.127e+04
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Gender             3.371e+04   9735.350      3.463      0.001    1.46e+04    5.28e+04
10percentage       1930.1422    455.506      4.237      0.000    1036.884    2823.401
CollegeTier       -1.023e+05   1.26e+04     -8.099      0.000   -1.27e+05   -7.75e+04
collegeGPA         1641.6683    483.929      3.392      0.001     692.671    2590.665
ComputerScience   -5.944e+04   9992.476     -5.949      0.000    -7.9e+04   -3.98e+04
conscientiousness -2.335e+04   4888.672     -4.777      0.000   -3.29e+04   -1.38e+04
agreeableness       1.62e+04   5137.100      3.154      0.002    6125.913    2.63e+04
nueroticism       -9344.5359   4447.945     -2.101      0.036   -1.81e+04    -622.005
English             157.2415     46.651      3.371      0.001      65.758     248.725
Logical             106.4424     58.220      1.828      0.068      -7.729     220.614
Quant               169.2942     42.600      3.974      0.000      85.755     252.834
==============================================================================
Omnibus:                     3132.301   Durbin-Watson:                   2.021
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1281143.277
Skew:                           7.769   Prob(JB):                         0.00
Kurtosis:                     118.915   Cond. No.                     2.79e+03
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.79e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [28]:
predictedY = regr.predict(testX)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- const
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

ValueError: X has 12 features, but LinearRegression is expecting 11 features as input.

In [10]:
sklearn.metrics.r2_score(testY, predictedY)

0.03171748602127655

In [ ]:
error = testY - regr.predict(testX)
error = (error - error.mean())/error.std()
sns.histplot(error, binwidth=0.25)

In [ ]:
error.skew(), error.kurtosis()